---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col w-full h-screen items-center bg-slate-800">
		<Header title={SITE_TITLE} />
		<main class="flex flex-col justify-center items-center">
			<div class="border rounded-2xl w-64 sm:w-96">
				<img class="border rounded-2xl" src="/ryan.jpeg" alt="hero">
			</div>
			<p class="mt-10 text-sm text-center w-96">
				Welcome to my personal site, take a look around and enjoy the ride!
			</p>
		</main>
		<Footer />
	</body>
</html>

