---
const today = new Date();
---

<footer class="flex flex-col sm:flex-row relative bottom-0 my-8 text-center text-xs sm:text-sm md:text-lg">
	<p>&copy; {today.getFullYear()} ryan van valkenburg |</p>
	<p>all rights reserved</p>
</footer>
