---
const today = new Date();
---

<footer class="flex flex-col fixed bottom-2 sm:flex-row text-center text-xs sm:text-sm md:text-lg opacity-40">
		<p>&copy; {today.getFullYear()} ryan van valkenburg | all rights reserved</p>
</footer>
