---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class={`text-lg inline-block decoration-none text-rose-400 transition duration-300 hover:scale-110 hover:text-white ${isActive && `underline underline-offset-2 underline-white -translate-y-2 decoration-white`}`}href={href} {...props}>
	<slot />
</a>
